body {
	background: #000;
}

#snow{
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/807677/snow1.png'), 
url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/807677/snow2.png'), 
url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/807677/snow3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:-1;
	animation: snow 10s linear infinite;
}

@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}


.glitter-text {
    font-family: 'Press Start 2P', cursive;
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
    background-image: url(https://media4.giphy.com/media/WKdWA04KRn58A/giphy.gif?cid=ecf05e47yhupeu9yerk837ilmckbswf3s7unvhgyky3vdjum&rid=giphy.gif&ct=g);
    background-attachment: unset;
    background-position: 0%;
    font-style: italic;
    animation: glitter-moving infinite 20s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: linear;
    text-align: center;
  }
  @keyframes glitter-moving {
    0% {
      background-position: 0%;  
    }
    50% {
      background-position: 100%;  
    }
    100% {
      background-position: 0%;
    }
  }

  
  a:link {
    color: greenyellow;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }